body {
  background-image:url(mandioca.JPG);
  background-color: saddlebrown ;
  height: 100px;
  background-position: unset ;
  background-repeat:no-repeat;
}
h1 {
  background-color: #d8baba9f;
}
#menu ul li {
  display: inline-block;
}
a:hover {
  font-family: monospace;
  background-color: brown;
  text-decoration: underline;
}
a:active{
 color: green;
}
a:visited {
  color:white;
  background-color: brown;
}
#borda1 {
  width:10px;
  height:20px;
  box-shadow:5px 10px red;}
