body {background-image:url(arvore.jpg);background-color: deepskyblue;height: 100px;background-position: top;background-repeat:repeat;}

#borda1 {
  width:10px;
  height:20px;
  box-shadow:5px 10px red;}
